.app__aboutus {
  width: 100%;
}

.app__aboutus-header {
  position: relative;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.app__header-content {
  z-index: 2;
}

.app-h1 {
  color: white;
  text-align: center;
}

.app-p {
  color: var(--color-golden);
  text-align: center;
  font-size: 45px;
  font-family: var(--font-base);
}

.app__aboutus-overlay {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
}

.app__aboutus-content {
  width: 100%;
  background-color: var(--color-black);
  padding: 4rem 0;
}

.app__aboutus-content_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.app__aboutus-content_about {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
  padding-right: 2rem;
}

.app__aboutus-content_knife {
  margin: 0 4rem;
}

.app__aboutus-content_knife img {
  height: 910px;
}

.app__aboutus-content_history {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  padding-left: 2rem;
}

.app__aboutus-content_about p,
.app__aboutus-content_history p {
  margin: 2rem 0;
  color: var(--color-grey);
}

.spoon__img {
  width: 45px;
}
