.headertext__cormorant{
  font-family: var(--font-base);
  color: var(--color-golden);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  

}
.app__laurels_awards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 3rem;
}
.app__wrapper_info {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.app__laurels_awards-card {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 25rem;

    margin: 1rem;
}


@media screen and (min-width: 2200px) {
    .app__laurels_awards-card {
        min-width: 70%;
    }
}

.app__laurels_awards-card img {
    width: 4rem;
    height: 4rem;
}

.app__laurels_awards-card_content {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.app__wrapper-img img{
    width:25rem;
    height: 30rem;
}
@media screen and (max-width: 650px) {
    .app-wrapper_info {
        min-width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .app__laurels_awards-card {
        min-width: 100%;
        margin: 1rem 0;
    }
}

