
.app-welcome-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-weight: 700;
    letter-spacing: 0.04em;
   
  }

.app-wrapper_img {
  text-align: center;
  margin-right: 70px;
}
.images {
  width: 300px;
  height: 350px;
  object-fit: cover;
}

@media (max-width: 1150px) {
  .app-Welcome {
    grid-template-columns: 1fr 1fr; /* Switch to two-column layout */
    gap: 1.5rem; /* Reduce space between image and text */
    padding: 1.5rem;
  }

  .app-text {
    max-width: 90%;
    text-align: center;
  }

  .app-welcome-h1 {
    font-size: 2rem; /* Reduce heading size */
  }

  .p__opensans {
    font-size: 1rem;
  }

  .custom-button {
    padding: 8px 16px;
  }
}
/* For screens 650px and below (better mobile layout) */
@media (max-width: 650px) {
  .app-Welcome {
    grid-template-columns: 1fr;
    text-align: center;
    height: auto;
    padding: 2rem;
  }

  .app-wrapper_img:nth-child(2) {
    display: none; /* Hide second image */
  }

  .images {
    width: 80%;
    height: auto;
  }

  .app-welcome-h1 {
    font-size: 2rem;
  }

  .p__opensans {
    font-size: 1rem;
  }
}

/* For screens 450px and below (compact layout) */
@media (max-width: 450px) {
  .app-Welcome {
    padding: 1rem;
  }

  .images {
    width: 90%;
    height: auto;

  }

  .app-welcome-h1 {
    font-size: 1.8rem;
  }

  .p__opensans {
    font-size: 0.9rem;
  }

  .custom-button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}